<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inc.miki.voulezvous">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".drink"
            android:label="@string/drink"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pictures"
            android:label="@string/pictures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cform"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
